.center img{
    width:116px ;
    height: 31.0308px;
    justify-self: center;
}
.detailsFlex{
    display: flex;
    align-items: center;
    gap: 63px;
    flex-wrap: wrap;
    
    justify-content: center;
    margin: 20px 0;
}
.eventGallery{
    display: flex;
    flex-direction: column;
}
.eventSec1{
    margin-top: 200px;
}
.cardsSec{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 100px 100px;
}
.secBg2{
    max-height: 900px;
}
.galleryCont{
    z-index: 5;
    padding-bottom: 100px;
}
.mapCont{
        z-index: 4;
    bottom: 100px;
    flex-direction: column;
    display: flex;
        padding-bottom: 100px;
}
.mapSec{
    padding-top: 200px;
    flex-direction: column;
    gap: 40px;
}
.map1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}
.map1 .mapLeft{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
.mapAddress{
    display: flex;
    align-items: flex-start;
    max-width: 467px;
    gap: 22px;
    flex-shrink: 0;
    align-self: stretch;
    align-items: center;

}
.mapAddress div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.mapAddress div p{
    margin: 0;
}
.firstMap{
  height: 300px;
    width: 70%;
    border: 7px dashed var(--primaryBlue, #18466F);
    border-radius: 52px;
    overflow: hidden;
}
.firstMap iframe{
    width: 100%;
    height: 100%;
}
.experienceSec{
    display: flex;
    flex-direction: row;
     gap: 62px;
         padding-top: 0;
}
.map3D{
    width: 1287.342px;
height: 1258.242px;
}
.mandalaCont2{
    width: 30%;
    display: block;
}
.mandalaCont2 .mandala2{
    right:-40%;
    right: -26%
}
.experienceSecCont {
    padding:  0;
}
.experienceCont{
    display: flex;
    flex-direction: column;
    gap: 52px;
    justify-content: center;
    align-items: center;
}
.experienceCont h4{
    text-align: center;
}
@media (max-width: 1440px) {
.mandalaCont2 .mandala{
  height: auto;
  width: 100%;
  display:flex ;
  right: 0;
  scale: 1;
  bottom: 0px;

}
.experienceSecCont {
    padding: 100px 0;
}
.mandalaCont2{
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
}
.mandalaCont2 .mandala2{
    display:flex ;
    left: 0;
    bottom: 0;
}
.experienceSec {
    gap: 40px;
    padding: 0 40px;
    min-height: 300px;
    max-height: 300px;
}
}
@media (max-width: 900px) {
.experienceCont {
    gap: 19px;
}
.experienceSec {
    gap: 10px;
    padding: 0 40px;
}
.experienceSecCont {
    padding: 100px 0;
}
}
@media (max-width: 650px) {
.mandalaCont2{
    display: none;
}
.experienceSecCont {
    padding: 100px 0;
}
}
.map2{
    flex-direction: column;
}