.center img{
    width:116px ;
    height: 31.0308px;
    justify-self: center;
}
.detailsFlex{
    display: flex;
    align-items: center;
    gap: 63px;
    flex-wrap: wrap;
    
    justify-content: center;
    margin: 20px 0;
}
.eventGallery{
    display: flex;
    flex-direction: column;
}
.eventSec1{
    margin-top: 200px;
}
.cardsSec{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 100px 100px;
}
.secBg2{
    max-height: 900px;
}
.galleryCont{
    z-index: 5;
    padding-bottom: 100px;
}
.mapCont{
        z-index: 4;
    bottom: 100px;
}
.mapSec{
    padding-top: 200px;
}
.map1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}