.center img{
    width:116px ;
    height: 31.0308px;
    justify-self: center;
}
.detailsFlex{
    display: flex;
    align-items: center;
    gap: 63px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.eventGallery{
    display: flex;
    flex-direction: column;
}
.eventSec1{
    margin-top: 200px;
}
.cardsSec{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}