*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  
}
::-webkit-scrollbar-thumb {
  background: #FFF4E2;
}
body{
    position: relative;
    background: #007E7A;
}
main{
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.wrappedWrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
   -webkit-animation: scale-in-center 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
}
.scalein2{
	        animation: scale-in-2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
@keyframes scale-in-2{
  0% {
    -webkit-transform: scalex(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}