footer{
    background-color: #FFF4E2;
    display: flex;
    min-height: 900px;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 0 12px;
    z-index: 99;
    bottom: 0;
}
footer .animatedCircleCont{
    scale: -1;
    height: 721px;
    position: absolute;
    bottom: 0;
}
footer .animatedCircleCont img{
        bottom: 300px;
    left: 0;
    scale: 1;
    width: 100%;
}
.footerSm{
    height: 40px;
}
.footerFlex{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 12px 0;
}
footer p{
    text-align: center;
}
footer svg{
    margin-top: 200px;
}
footer h6{
    color: darkgrey;
    letter-spacing: 18%;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}
@media (max-width:500px) {
    footer svg{
    margin-top: 100px;
    scale: 0.8;
}
footer p{
    margin: 0 12px;
    padding: 0 12px;
    font-size: 16px;
}
}