#link1{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
button{
        border-radius: 12px;
    border: none;
    /* box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.25) inset; */
    display: flex;
    position: relative;
    background: transparent;
    padding: 10px 12px;
    gap: 8px;
    text-wrap: nowrap;
}
.blue {
    position: relative;
}
button h6{
    z-index: 2;
}
.blue h6{
    color:#FFF4E2 ;
    font-weight: 400;
}
.blue::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../assets/btn1before.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.25) inset;
    z-index: 1;
    transition: all 200ms ease-in;
}
button img{
    z-index: 3;
    transition: all 500ms ease-in-out;
}
.blue:hover h6{
    /* color: var(--primaryNavy, #1C1C35); */
}
.blue:hover::after {
    background-image: url('../../assets/btn1before2.svg');
    box-shadow: 0 -7px 0 0 rgba(0, 0, 0, 0.25) inset;
}
button:hover{
    transform: translateY(-2px);
}
button:hover img{
    transform: rotate(359deg);
}
.beige{
    background-image: url('../../assets/btn2before2.svg');
    box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.25) inset;
    background-size: cover;
    background-repeat: no-repeat;
}
.beige:hover{
    background-image: url('../../assets/btn2before.svg');
    box-shadow: 0 -7px 0 0 rgba(0, 0, 0, 0.25) inset;

}
/* .beige::after{
    content: "";
    position: absolute;
    border-radius: 15.429px;
    inset: 0;
    background-image: url('../../assets/btn2before.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.25) inset;
    z-index: 1;
    transition: all 200ms ease-in;
} */
 .size2{

 }
 .size2 h6{
    font-size: 24px;
 }