#link1{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
button{
        border-radius: 12px;
    border: none;
    /* box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.25) inset; */
    display: flex;
    position: relative;
    background: transparent;
    padding: 10px 12px;
    align-items: center;
    gap: 8px;
    text-wrap: nowrap;
}
.blue {
    position: relative;
}
button h6{
    z-index: 2;
}
.blue h6{
    color:#FFF4E2 ;
    font-weight: 400;
}
.blue {
    background-image: url('../../assets/btn1before.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.25) inset;
    z-index: 1;
    transition: all 200ms ease-in;
}

.beige{
    background-image: url('../../assets/btn2before2.svg');
    box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.25) inset;
    background-size: cover;
    background-repeat: no-repeat;
}
.beige:hover{
    background-image: url('../../assets/btn2before.svg');
    box-shadow: 0 -7px 0 0 rgba(0, 0, 0, 0.25) inset;

}
 .size2 h6{
    font-size: 24px;
 }
 @media (max-width: 580px) {
    .size2 h6{
    font-size: 16px;
 }
 }
.size3{
display: flex;
width: 50px;
height: 52px;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
width: 50px;
max-width: 50px;
 }
 .pink{
    background-image: url('../../assets/favbg.png');
background-size: 100% 100%;
 }

 .starhover{
z-index: 2;
    transition: all 500ms ease-in-out;
    height: 12px;
 }
.blue:hover {
    background-image: url('../../assets/btn1before2.svg');
    box-shadow: 0 -7px 0 0 rgba(0, 0, 0, 0.25) inset;
}
.blue:hover, .beige:hover{
    transform: translateY(-2px);
}
.blue:hover .starhover, .beige:hover .starhover{
    transform: rotate(359deg);
}
 .pink:hover{
    background-image: url('../../assets/favbg.png');
 }