.headingBlock{
    display: flex;
    flex-direction: column;
}
.headingBlock img{
    width: 0 px;
    height: 0px;
}
.decor img{
    width: 116px;
    height: 31px;
}
.left{
    align-items: start;
}
.center{
    justify-content: center;
    align-items: center;
}
.center h1{
    text-align: center;
}
.left h1{
    text-align: left;
}
.dark h1{
    color: #DC4649;
}
.light h1{
    color: #FFF4E2;
}